@font-face {
    font-family: 'UtsukushiFONT';
    src: local('UtsukushiFONT');
}

body {
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

nav {
    width: 10-0%;
    right: 0;
    display: inline;
    height: 40px;
    overflow: hidden;
    padding: 3px 0px;
    z-index: 2;
    background-color: #Fcd40c;
    font-family: UtsukushiFONT;
}

nav li {
    float: left;
    list-style-type: none;
    font-family: UtsukushiFONT;
    font-size: 20px;
}

nav a {
    display: white;
    text-decoration: none;
    color: #Fcd40c;
    margin: 10px 40px 20px;
    transform: 0.3s;
    background: none;
    font-family: UtsukushiFONT;

}

nav a:hover {
    color: #413e2c;
}


nav ul {
    display: inline-block;
    position: absolute;
    right: 0;
    z-index: 999;
}

img {
    background-size: cover;
}


.main-visual {
    width: 300%;
    background-size: cover;
    margin-bottom: 32px;
    opacity: 0.8;
    padding-top: 60px;

}

.iimoji {
    font-size: 30px;
    position: absolute;
    z-index: 2;
    text-align: center;
    margin-left: 550px;
    margin-top: 150px;
    font-family: UtsukushiFONT;
}

.y1 {
    position: relative;
    width: 50%;
    margin-left: 340px;
}

.coment {
    text-align: center;
    line-height: 30px;
    font-family: UtsukushiFONT;

}

.kazomono {
    background-color: #Fcf8e8;
    padding-bottom: 200px;
}

.contents-title {
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
}

.mini-title {
    text-align: center;
}

.tosi {
    width: 50%;
}

.story {
    margin-top: 200px;
}

.tell-r {
    float: right;
    margin-top: 200px;
    margin-right: 200px;
    font-size: 20px;
    text-align: center;
}

.tell-l {
    float: left;
    margin-top: 200px;
    margin-left: 200px;
    font-size: 20px;
    text-align: center;
}

.tell-c {
    margin-top: 200px;
    font-size: 20px;
    text-align: center;
}

.tellc {
    height: 400px;
    opacity: 50%;
    display: block;
    margin: auto;
    margin-top: 20px;
    opacity: 70%;

}

.kokoro {
    width: 70%;
    display: block;
    margin: auto;
    margin-top: 30px;

}



.kokomonogatari {
    margin-top: 150px;

}

.anatano {
    background-color: #Eeeeee;
}

.anatano {
    width: 110%;
    height: 2500px;
}

.animation1 {
    position: relative;
    width: 700px;
    float: left;
}

.animation1 .caption {
    position: absolute;
    padding: 20px;
    background: #9cbec4;
    height: 250px;
    width: 360px;
    float: left;
    transform: rotate(-45deg);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    z-index: 1;

}

.animation1 .caption h2 {
    color: #Fcf8e8;
    font-size: 40px;
    text-align: center;
}

.animation1 .caption h3 {
    color: #413e2c;
    font-size: 15px;
    text-align: center;

}

.animation1:hover .caption {
    -webkit-transform: translate(8px, 8px);
    -ms-transform: translate(8px, 8px);
    -o-transform: translate(8px, 8px);
    transform: translate(8px, 8px);
    opacity: 0.9;

}

.last {
    width: 100%;
}

.coment-last {
    text-align: center;
    line-height: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.coment-right {
    text-align: center;
    line-height: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.footer {
    background-color: #Fcd40c;
    padding-top: 30px;
    padding-bottom: 10px
}

.footer-sen {
    font-size: 20px;
    text-align: center;
}
